APP_NAME="Administrasi GUPDI"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

BCRYPT_ROUNDS=12

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=ep-square-base-a1s0wnoq.aws-ap-southeast-1.pg.laravel.cloud
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=npg_Fbku0T6POvhW

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_PATH=/

QUEUE_CONNECTION=database
CACHE_STORE=database

FILESYSTEM_DISK=local

VITE_APP_NAME="${APP_NAME}"
